body { 
    margin:0; 
    padding:0; 
}

h1 {
    font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
}

#header {
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: antiquewhite
}

#map { 
    position: fixed; 
    top: 100px; 
    bottom:0; 
    width:90%; 
    height: 80%;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    width: 25%;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.map-overlay h2 {
    position: fixed;
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
    bottom: 20px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    position: absolute;
    width: 100%;
    margin: 0;
    cursor: ew-resize;
}