body { 
    margin:0; 
    padding:0; 
}

h1 {
    font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
    text-align: center;
}

#header {
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: antiquewhite
}

.center {
    margin:auto;
    width: 90%;
}

#map { 
    position: fixed; 
    top: 100px; 
    bottom:0; 
    width: 90%; 
    height: 75%;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
}

#labels {
    position: fixed;
    padding: 10px;
    bottom: 18px;
}

div.scroll {
    width: 600px;
    height: 350px;
    overflow: scroll;
}

.map-overlay {
    font: 14px/20px 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
    width: 25%;
    position: absolute;
    left: 30px;
    bottom: 40px;
}

.map-overlay h2 {
    position: fixed;
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
    bottom: 35px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    position: absolute;
    width: 100%;
    margin: 0;
    cursor: ew-resize;
    padding: 10px;
}

#footer {
    font: 13px 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
    position: fixed;
    right: 10px;
    bottom: 3px;
}